﻿@model IEnumerable<jBloger.Models.Post>

@{
    ViewBag.Title = "AjaxSearch";
}

 <div>
    @foreach (var item in Model)
    {  <tr>

        <h2><a href="@Url.Action("Post", new {Id= item.Id})">@item.Title</a></h2>
        <small>@item.Created</small>
        <p>@item.Summary</p>
        
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id});
     </tr>     
    
    }
     

    </div>  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}