﻿@model jBloger.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title)
        <hr />
        @Html.LabelFor(m => m.Summary)
        @Html.EditorFor(m => m.Summary)
        <hr />
        @Html.LabelFor(m => m.Content)
        @Html.EditorFor(m => m.Content)
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Indexx")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

