﻿@model jBloger.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <input type="submit" value="Yes" class="btn btn-default" />  
          
            <hr />

            @Html.ActionLink("Back to List", "Indexx")
         
           
        </div>
    }
</div>
