﻿@model IEnumerable<jBloger.Models.Post>

@{
    ViewBag.Title = "Indexx";
}

@using (Ajax.BeginForm("AjaxSearch", "Blog",
    new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "search" }))
{
    
    <input type="text" name="q" />
    
}

<table id="searchResults"></table>

<input type="submit" value="Ajax Search" class="btn btn-default" style="float: right; margin-left:10px;  " />
<input type="search" class="form-control" name="q" style="float: right" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>*@
<div id="search">
@foreach (var item in Model) {
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>*@
    
    <h2><a href="@Url.Action("Post", new {Id= item.Id})">@item.Title</a></h2>
    <small>@item.Created</small>
    <p>@item.Summary</p>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
}

@*</table>*@

</div>