﻿@model jBloger.Models.Post

@{
    ViewBag.Title = "Post";
}

<h1>@Model.Title</h1>
<blockquote style="word-wrap: break-word; margin-top: 2%"><i>@Model.Summary</i></blockquote>
<p style="text-indent: 20px"><span style="word-wrap: break-word">@Model.Content</span></p>

  <hr />
     <i style="float: left; margin-left: 1%; margin-bottom: 2%">@Model.Created</i>
      <i style="float:right; margin-right: 1%; margin-bottom: 2%">Author</i>
  <hr style="margin-top: 3%; clear:both" />
    <h3>Comments</h3>

    @foreach (var comment in Model.Comments)
    {
        <div class="comment" style="word-wrap: break-word">
            <small>@comment.Created | @comment.Author</small>
            <p>@comment.Content</p>

            @Html.ActionLink("Edit", "EditComments", new { id = comment.Id }) |
            @Html.ActionLink("Delete", "DeleteComments", new { id = comment.Id })
            <hr />
        </div>
    }

    @using (Html.BeginForm())
    {
        <p>Autor: @Html.TextBox("NewComment.Author")</p>
        <p>Text:  @Html.TextArea("NewComment.Content")</p>
        <p><input type="submit" value="Send" /></p>
    }

    @Html.ActionLink("Back", "Indexx")


